# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# MyIgnore
*.ipch
*.tlog
*.pdb
*.idb
*.log
*.db
*.suo
*.config
*.db-shm
*.db-wal
*.opendb
*.exe
*.iobj
*.ilk
*.ipdb
*.meta
*.recipe
*.res
*.enc
*.exp
*.cso
*.sqlite

*.fbx
EffectData.json
unity_*.cpp
Engine.dll
Engine.lib


# End of https://www.toptal.com/developers/gitignore/api/c++
/.vs/slnx.sqlite
